:root {
    --color-bg: rgba(15, 15, 15, 1);
    --color-primary-lilac: rgba(201, 147, 236, 1);
    --color-header-text: rgba(195, 195, 195, 1);
    --color-text-body: rgba(210, 210, 210, 1);
    --color-text-body-hover: rgba(150, 150, 150, 1);
    --transparent: rgba(0, 0, 0, 0);
}


@font-face {
    font-family: fira-code;
    src: url(../assets/font/fira_code/FiraCode-Regular.woff2);
}


body {
    background-color: var(--color-bg);
    color: var(--color-header-text);
    font-family: fira-code;
    font-size: 1.125rem;
    margin-left: 2rem;
    margin-top: 0rem;
    padding-left: 2rem;
    padding-top: 0rem;
}

ul {
    list-style: none;
}

a {
    transition: color 0.2s ease-in;
}

h1, h1 a, h1 a:active, h1 a:visited {
    color: var(--color-text-body);
    font-size: 4rem;
    margin-bottom: 0rem;
    margin-top: 1rem;
    padding-bottom: 0rem;
    padding-top: 1rem;
    text-decoration: none;
} h1 a:hover {
    color: var(--color-primary-lilac);
} h1:hover {
    color: var(--color-text-body-hover);
}

h2, h2 a, h2 a:active, h2 a:visited {
    color: var(--color-text-body);
    font-size: 1.5rem;
    margin-top: 0rem;
    padding-top: 0rem;
    text-decoration: none;
} h2 a:hover {
    color: var(--color-primary-lilac);
} h2:hover {
    color: var(--color-text-body-hover);
}


hr {
    background-image: radial-gradient(ellipse, var(--color-primary-lilac), var(--transparent));
    border-style: none;
    height: 0.5rem;
    margin-right: 4rem;
}


.working-on, .working-on a, .working-on a:active, .working-on a:visited {
    color: var(--color-text-body);
    font-size: 1.1rem;
    text-decoration: none;
} .working-on a:hover {
    color: var(--color-primary-lilac);
} .working-on ul {
    margin-left: -2rem;
    margin-top: -0.5rem;
} .working-on li {
    line-height: 2rem;
} .working-on p:hover, .working-on li:hover {
    color: var(--color-text-body-hover);
} .working-on li::before {
    content: ">";
} .working-on li:hover::before {
    color: var(--color-text-body);
}


.about-me {
    display: inline-flex;
} @media only screen and (max-width: 600px) {
    .about-me {
        display: inline-block;
    }
}



.bio-list {

} .bio-list ul {
    padding-top: 2.5rem;
} .bio-list li {
    line-height: 3rem;
    width: auto;
    word-wrap: break-word;
} .bio-list li:hover {
    color: var(--color-text-body-hover);
} .bio-list li::before {
    font-size: 2rem;
    padding-right: .5rem;
} .bio-list li:hover::before {
    color: var(--color-text-body);
} .bio-list .gender-sexuality::before {
    content: "⚦";
} .bio-list .general::before, .bio-list .politics-list::before {
    content: "⬡";
}


.bio-text {
    dummy: help;
}


.profilepic-container {
    height: 350px;
    margin-top: 1rem;
    padding-top: 1rem;
    width: 350px;
} .profilepic-container img {
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    width: 100%;
}


.bully-you {
    font-size: .25rem;
}